body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #34495e;
    color: white;
    padding: 20px;
    text-align: center;
}

.produk {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    width: 200px;
    border-radius: 8px;
    text-align: center;
}

.harga {
    color: green;
    font-weight: bold;
}

button {
    background: #27ae60;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
}